@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: normal;
  font-family: "Inter", "Arial", "sans-serif";
  color: #000;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */
.header-section {
  background-color: rgb(255, 8, 8);
}
.header-section .site-header {
  padding-top: 13px;
  border-top: 5px solid var(--accent-color);
}
.header-section .site-header .site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header-section .site-header .site-header-container a {
  display: flex;
  align-items: center;
  gap: 24px;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}
.header-section .site-header .site-header-container .logo-link img {
  display: block;
}
.header-section .site-header .site-header-container .site-header-actions {
  display: flex;
  align-items: center;
  /* SITENAV */
}
.header-section .site-header .site-header-container .site-header-actions .sitenav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}
.header-section .site-header .site-header-container .site-header-actions .sitenav-list .sitenav-item {
  display: flex;
  gap: 10px;
}
.header-section .site-header .site-header-container .site-header-actions .sitenav-list .sitenav-item .sitenav-link {
  font-size: 18px;
  line-height: normal;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  width: 100%;
}
.header-section .site-header .border {
  height: 1px;
  background-color: #D0C7C7;
}
.header-section .main-infos-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header-section .main-infos-container .title {
  color: #fff;
  font-size: 80px;
}
.header-section .main-infos-container .goal {
  font-size: 40px;
  color: #fff;
}
.header-section .main-infos-container .options {
  margin-top: 80px;
  gap: 22px;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}
.header-section .main-infos-container .options p {
  padding: 20px 52px;
  border-radius: 5px 5px 0px 0px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
}
.header-section .main-infos-container .booking {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
}
.header-section .main-infos-container .booking .booking-item {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
}
.header-section .main-infos-container .booking .booking-item .item-title {
  color: #fff;
}
.header-section .main-infos-container .booking .booking-item .date-container {
  display: flex;
  gap: 39px;
  padding: 25px 20px 20px 18px;
  background-color: #fff;
  align-items: center;
}/*# sourceMappingURL=style.css.map */