@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: normal;
  font-family: "Inter", "Arial", "sans-serif";
  color: #000;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */
.header-section {
  background-image: url(../assets/banner.jpg);
}
.header-section .site-header {
  padding-top: 13px;
  border-top: 5px solid var(--accent-color);
}
.header-section .site-header .site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header-section .site-header .site-header-container a {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}
.header-section .site-header .site-header-container .logo-link img {
  display: block;
}
.header-section .site-header .site-header-container .site-header-actions {
  display: flex;
  /* SITENAV */
}
.header-section .site-header .site-header-container .site-header-actions .sitenav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}
.header-section .site-header .site-header-container .site-header-actions .sitenav-list .sitenav-item {
  display: flex;
  gap: 10px;
}
.header-section .site-header .site-header-container .site-header-actions .sitenav-list .sitenav-item .sitenav-link {
  font-size: 18px;
  line-height: normal;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  width: 100%;
}
.header-section .site-header .border {
  height: 1px;
  background-color: #D0C7C7;
}
.header-section .main-infos-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header-section .main-infos-container .title {
  color: #fff;
  font-size: 100px;
}
.header-section .main-infos-container .goal {
  font-size: 50px;
  color: #fff;
}
.header-section .main-infos-container .options {
  margin-top: 80px;
  gap: 22px;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}
.header-section .main-infos-container .options p {
  padding: 20px 52px;
  border-radius: 5px 5px 0px 0px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
}
.header-section .main-infos-container .booking {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  gap: 20px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 35px;
}
.header-section .main-infos-container .booking .booking-item {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  flex-direction: column;
}
.header-section .main-infos-container .booking .booking-item .item-title {
  color: #fff;
}
.header-section .main-infos-container .booking .booking-item .date-container {
  display: flex;
  gap: 39px;
  padding: 25px 20px 20px 18px;
  background-color: #fff;
  align-items: center;
}
.header-section .main-infos-container .booking .booking-item .polygon {
  gap: 50px;
  padding: 0;
}
.header-section .main-infos-container .booking .booking-item .polygon p {
  padding-left: 18px;
}
.header-section .main-infos-container .booking .booking-item .polygon img {
  padding: 25px 20px 20px 15px;
  background-color: #C4C4C4;
}
.header-section .main-infos-container .booking .finding {
  padding: 21px 56px;
  background-color: #ECA00D;
}
.header-section .header-info-bottom {
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  margin-top: 240px;
}
.header-section .header-info-bottom .info-bottom-container {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 34px;
}
.header-section .header-info-bottom .info-bottom-container .info-item-wrapper {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}

main .top-deals .top-deals-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
main .top-deals .top-deals-container h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
main .top-deals .top-deals-container .stopper {
  height: 3px;
  width: 250px;
  background-color: #ECA00D;
  margin-top: 19px;
  margin-left: auto;
  margin-right: auto;
}
main .top-deals .top-deals-container .stopper-long {
  height: 1px;
  width: 800px;
  background-color: #E0E6E8;
  margin-left: auto;
  margin-right: auto;
}
main .top-deals .top-deals-container .box-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}
main .top-deals .top-deals-container .box-wrapper .box {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #D3C9C9;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
main .top-deals .top-deals-container .box-wrapper .box .pinned {
  padding: 5px;
  background-color: #FFAC0B;
  position: absolute;
  z-index: 2;
}
main .top-deals .top-deals-container .box-wrapper .box .info-box {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 45px;
  padding-bottom: 30px;
  gap: 26px;
}
main .top-deals .top-deals-container .box-wrapper .box .info-box .box-title {
  font-size: 20px;
  font-weight: 700;
}
main .top-deals .top-deals-container .box-wrapper .box .info-box .about {
  width: 350px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
main .tour-section {
  background-image: url(../assets/second-banner.jpg);
  background-repeat: no-repeat;
}
main .tour-section .tour-section-container {
  padding-top: 300px;
  padding-bottom: 150px;
  display: flex;
  gap: 50px;
}
main .tour-section .tour-section-container .tour-section-info {
  padding: 40px 63px 37px 45px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  gap: 26px;
}
main .tour-section .tour-section-container .tour-section-info .tour-title {
  color: #FFE600;
  font-size: 35px;
  font-weight: 700;
}
main .tour-section .tour-section-container .tour-section-info .tour-info {
  width: 450px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}/*# sourceMappingURL=style.css.map */